<div class="left-align">
    <div class="dropdown">
        <button class="btn bg-dark text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-journal-bookmark-fill"></i>
            Pages
        </button>
        <ul class="dropdown-menu">
            <li><button (click)="goHome()" class="dropdown-item" type="button">Home</button></li>
            <li><button (click)="goListUsers()" class="dropdown-item" type="button">List Users</button></li>
        </ul>
    </div>
</div>


