
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Cadastro Cartsys App</a>
    </nav>
</div>

<div class="container mt-4">
    <div class="row">
        <!-- App description -->
        <div class="col-md-6">
            <h1>Welcome to Cadastro Cartsys App</h1>
            <p>Welcome to our User Management App! Here, you can seamlessly register new users, edit existing user details, and remove users with ease. Our intuitive interface ensures efficient user management for your organization. Stay secure with advanced authentication features, and experience streamlined operations with our robust platform. Start optimizing your user management today!</p>
            <p>Join thousands of users who have improved their productivity with OurApp. Register now and start your journey toward better organization and productivity.</p>
        </div>
    </div>
</div>



